body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: large;
}
header{
    background-color: rgb(2, 2, 34);
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    color: white;
    border: #DFF6FF solid 2px ;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
a {
    color: beige;
    justify-content: space-evenly;
}
form {
    background-color: rgb(27, 27, 27);
    padding: 20px;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5, 3, 146, 0.927);
    overflow: hidden;
}

input, textarea {
    width: 97%;
    padding: 8px;
    margin: 10px 5px;
    border: 2px solid #56bde1;
    border-radius: 5px;
}
input:focus {
     width: 98%;
    padding: 8px;
    margin: 10px 2px;
    border: 4px solid red;
    border-radius: 2px;
}
 textarea:hover {
    width: 100%;
    padding: 8px;
    margin: 10px 2px;
    border: 1px solid #56bde1;
    border-radius: 5px;
}

button {
    background-color: #ffffffce;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
}

#downloadButton{
    justify-content:center;
}

button:hover {
    background-color: gray;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: white;
}

#resume-output {
  width: 90%;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background: white;
  padding: 20px;
  display: none;
  color: black;
}


h2 {
    color: #000000;
}

footer {
    background-color: rgb(115, 228, 222);
    color: rgb(255, 11, 11);
    text-align: center;
    border-radius: 50px;
    max-width: 500px;
    height: 5vh;
    margin: 10px auto 1px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
footer p {    
    line-height: 2px;
         }
@keyframes colorChange {
    0% { color: black;}
    25% { color: red;}
    50% { color: gold;}
    75% { color: peru;}
    100% { color: pink;}
}
.animate-word {
    animation: colorChange 3s infinite;
    font-weight: bold;
}
