body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #47B5FF;
    padding: 20px;
}
header{
    background-color: aliceblue;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
}

form {
    background: #DFF6FF;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(188, 222, 12);
    overflow: hidden;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #56bde1;
    border-radius: 5px;
}

button {
    background-color: #ffffffce;
    color: #de2121;
    padding: 10px 15px;
    border: navajowhite;
    cursor: pointer;
    border-radius: 10px;
    
}

#downloadButton{
    justify-content:center;
}

button:hover {
    background-color: #000000;
}

#resume-output {
  width: 90%;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background: white;
  padding: 20px;
  display: none;
}


h2 {
    color: #000000;
}

footer {
    background-color: rgb(115, 228, 222);
    color: rgb(255, 11, 11);
    text-align: center;
    border-radius: 50px;
    max-width: 100px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@keyframes colorChange {
    0% { color: black;}
    25% { color: red;}
    50% { color: gold;}
    75% { color: peru;}
    100% { color: pink;}
}
.animate-word {
    animation: colorChange 3s infinite;
    font-weight: bold;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}
